.title {
   font-size: 18rem;
   position: absolute;
   width: 90vw;
   /* flex-shrink: 1; */
   /* width: max-content; */
   min-width: 0;
   top: 11rem;
   left: -25rem;
   letter-spacing: .80rem;
   /* border: 1px solid pink; */
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   color: rgba(243, 190, 57, 0.188);
   animation: visible 2s;
}