.title {
   font-size: 18vw;
   text-align: center;
   position: absolute;
   width: 100vw;
   min-width: 0;
   top: 30%;
   text-indent: 1vw;
   letter-spacing: .80rem;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   color: rgba(243, 190, 57, 0.188);
   animation: visible 2s;
}

.entrance-links {
   display: flex;
   position: absolute;
   justify-content: center;
   width: 50vw;
   bottom: 20%;
   gap: 15%;
   z-index: 4;
}

.signup-link, .login-link {
   color: rgba(243, 190, 57, 0.70);
   width: max-content;
   font-size: 2rem;
   font-weight: 200;
   letter-spacing: .25rem;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   animation: visible 1.2s;
}

.signup-link:hover, .login-link:hover {
   animation: glow 1s ease-in-out infinite alternate;
   cursor: pointer;
}