.signup-form {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   position: relative;
   background-color: transparent;
   animation: visible 1.2s;
   /* border: 1px solid blue; */
}

.signup-upper {
   display: flex;
   position: relative;
   flex-direction: column;
   border: 1px solid black;
   width: 75%;
   height: 75%;
   align-items: center;
}

::-webkit-calendar-picker-indicator {
   background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%23bbbbbb" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
   color: rgba(233, 193, 93);
}

.signup-form > * {
   /* border: 1px solid green; */
}

.name-input-container {
   display: flex;
   justify-content: flex-end;
   flex-direction: column;
   height: 100px;
   width: 300px;
   align-items: space-between;
   gap: 4px;
   border: 1px solid green;
}

.name-display {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   flex-direction: column;
   height: 100px;
   width: 300px;
   border: 1px solid red;
}

.name-display > p {
   font-size: 2rem;
   
}

.name-input-container > label {
   display: flex;
   color: rgba(233, 193, 93, .8);
   letter-spacing: .40em;
   justify-content: center;
   text-align: center;
}

.name-input-container > input {
   outline: none;
   color: rgba(233, 193, 93);
   border-top-style: hidden;
   border-left-style: hidden;
   border-right-style: hidden;
   border-bottom-color: rgba(233, 193, 93, .8);
   background-color: transparent;
   transition: all .4s ease;
   text-align: center;
}

.birth-info-input {
   display: flex;
   justify-content: flex-start;
   flex-direction: column;
   height: 150px;
   width: 100%;
   align-items: space-between;
   gap: 4px;
   border: 1px solid yellow;
}



.email-and-password-input {
   display: flex;
   flex-direction: column;
   position: absolute;
   top: 6vh;
   gap: .6rem;
   /* justify-content: space-between; */
   /* align-items: flex-start; */
}

/* #sun-sign-selector {
   width: 179px;
}

#moon-sign-selector {
   width: 160px;
} */

.input-container {
   display: flex;
   flex-direction: row;
   width: 100%;
   align-items: space-between;
   border: 1px solid orange;
}

.sign-input-container {
   all: unset;
   display: flex;
   border: 1px solid green;
   /* top: 30%; */
   /* justify-content: flex-start; */
   flex-direction: column;
   width: 100%;
   align-items: flex-start;
}

.sun-sign-container {
   display: flex;
   color: rgba(233, 193, 93, .8);
   letter-spacing: .40em;
   /* justify-content: center; */
   width: 100%;
   text-align: center;
   word-wrap: unset;
   border: 1px solid white;
}

.moon-sign-container {
   display: flex;
   /* justify-content: space-around; */
   color: rgba(233, 193, 93, .8);
   letter-spacing: .40em;
   width: 100%;
   /* justify-content: center; */
   text-align: center;
   /* word-wrap: unset; */
}

.rising-sign-container {
   display: flex;
   color: rgba(233, 193, 93, .8);
   letter-spacing: .40em;
   justify-content: center;
   text-align: center;
}

.input-container-sign-selector {
   display: flex;
   justify-content: flex-start;
   color: rgba(233, 193, 93);
   width: 143px;
   border-top-style: hidden;
   border-left-style: hidden;
   border-right-style: hidden;
   border-bottom-color: rgba(233, 193, 93, .8);
   background-color: transparent;
   transition: all .4s ease;
}

.sign-input-container > label {
   display: flex;
   color: rgba(233, 193, 93, .8);
   letter-spacing: .40em;
   justify-content: center;
   text-align: center;
}

/* .sign-selector-label {
   word-wrap: unset;
} */

.sign-input-container > select {
   all: unset;
   color: rgba(233, 193, 93);
   height: 2vh;
   border-top-style: hidden;
   border-left-style: hidden;
   border-right-style: hidden;
   border-bottom-color: rgba(233, 193, 93, .8);
   background-color: transparent;
   transition: all .4s ease;
}




/* .name-input {
   display: flex;
   flex-direction: column;
   position: absolute;
   top: 6vh;
   gap: .6rem;
   border: 1px solid red;
} */

/* .birth-info-input {
   display: flex;
   flex-direction: column;
   position: absolute;
   top: 6vh;
   gap: .6rem;
} */



.input-container > input:hover {
   /* animation: glow 1s ease-in-out infinite alternate; */
}

.input-container > input:focus {
   outline: none;
}

.signup-button-container {
   display: flex;
   position: relative;
   justify-content: center;
   gap: 45px;
   padding: 0px 40px 60px 40px;
}