.main-page-background {
   display: flex;
   justify-content: center;
   align-items: center;
   position: fixed;
   background: radial-gradient(circle, rgba(113,14,143,1) 0%, rgba(74,23,84,1) 35%, rgba(14,0,20,1) 100%);
   width: 100vw;
}

.main-page-logo-container {
   display: flex;
   position: absolute;
   justify-content: center;
   flex-grow: .5;
   width: 600px;
   height: 600px;
   /* height: 500px; */
   border-radius: 50%;
   bottom: 15%;
   margin: 0 auto;
   border: 1px solid rgba(233, 193, 93);
   background-color: black;
   z-index: 2;
   background-color: transparent;
   box-shadow: 0em 0em .2em .05em rgba(233, 193, 93), inset 0em 0em .2em .05em rgba(233, 193, 93);
   animation: visible 3s;
   /* animation: visible 3s; */
   /* box */
}

.big-letters {

   font-family: cursive Garamond;
   font-size: 20rem;
   color: rgb(226, 171, 33, .2);
   animation: visible 3s;
   margin-bottom: 45vh;
}

.app-side-nav-bar {
   visibility: hidden;
   animation: visible;
}