.navbar {
   display: flex;
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0;
   width: 100vw;
   height: 7vh;
   align-items: center;
   justify-content: space-between;
   background-color: rgb(0, 0, 0);
   border-top: 2px solid rgba(233, 193, 93);
   z-index: 100;
   animation: visible 3s;
}

.navbar-left {
   display: flex;
   width: 25vw;
   justify-content: center;
   text-align: center;
}

.navbar-mid {
   display: flex;
   width: 50vw;
   justify-content: space-around;

}

.navbar-right{
   display: flex;
   width: 25vw;
   gap: 2vw;
   justify-content: center;
}

.logout-button, .logo {
   all: unset;
   color: rgba(233, 193, 93);
   letter-spacing: .80rem;
   font-stretch: expanded;
   font-size: 1.5rem;
}

.logout-button {
   cursor: pointer;
}

.logged-in-image img {
   width: 3vw;
   border-radius: 50%;
   height: 3vw;
}

.logo {
   cursor: pointer;
}

.discover-link, .matches-link, .profile-link {
   color: rgba(233, 193, 93);
   font-size: 1.5rem;
   font-weight: 200;
   text-decoration: underline;
   text-underline-offset: .5vh;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.discover-link:hover, .matches-link:hover, .profile-link:hover, .logout-button:hover {
   animation: glow 1s ease-in-out infinite alternate;
   cursor: pointer;
}