.discover-page {
   display: flex;
   /* justify-content: flex-start; */
   /* position: relative; */
   flex-direction: column;
   bottom: 20vh;
   width: 100vw;
   height: 90vh;
}

.usercard {
   display: flex;
}

.discover-upper {
   height: 60vh;
}

