#discover-container {
    min-height: 90vh;
    position: static;
    top: 39rem;
    height: 100%;
    width: 100%;
    padding-bottom: 3.5rem;
    padding-left: 3%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation: visible 1.2s;
}

#discover-container h1 {
    margin: 0;
}

#user-card-container {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: .5%;
    padding-bottom: 3.5rem;
}

.heading {
    font-size: 3rem;
}

select {
    background: #510e6f;
    border-radius: 3px;
    border: 0;
    color: #e9c15da0;
    padding: 0 1% 0 1%;
    line-height: 0;
    width: 60px;
    margin: 0 25px 0 5px;
}

#filters {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
    width: 1000px;
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 2.1vh;
}

#filters select {
    width: 95px;
}
