.matches-container {
    background-color: #510e6f;
    height: 100%;
    width: 100%;
    padding-bottom: 50px;
    margin-top: -1%;
    padding-left: 3%;
    color: #d3a02099;
    font-family:'Gill Sans';
}

.page-filter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 35%;
    margin-bottom: 2%;
    font-size: 16px;
}

.matches-container h2{
    min-width: 100%;
}

.matches-right{
    min-height: 100%;
    min-width: 30%;
    background-color: mediumpurple;
}

.matches-left{
    min-width:70%;
}