.matches-outer-container {
    background-image: radial-gradient(#330548, #430958, #530f73);
    min-height: 100vh;
    padding-bottom: 50px;
    padding-top: 2%;
    padding-left: 3%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.matches-container {
    display: flex;
    margin: 0 2% 0 1%;
}


.heading {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
}


.matches-right{
    background-color: #530f73;
    display: flex;
    width: 40%;
    border-radius: 8px;
    box-shadow: 0 0 3px 3px #00000050;
    width: 45%;
    height: 500px;
    padding: 20px;
}

.matches-left {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.matches-left .user-card {
    width: 70%
}

.them {
    background-color: powderblue;
    display: flex;
    justify-content: right;
    scroll-snap-align: end;
}

.you {
    background-color: green;
    display: flex;
    justify-content: left;
    /* scroll-snap-align: end; */
    /* scroll-behavior: auto; */
}

.you:last-child{
    scroll-snap-align: end;
    scroll-margin-block-end: 6rem;
}
