.button {
  width: 140px;
  height: 30px;
  align-items: center;
  font-size: 1.25rem;
  box-sizing: border-box;
  border: 1px solid rgba(233, 193, 93);
  border-radius: .3rem;
  border-top-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
  text-align: center;
  letter-spacing: 3px;
  color: rgba(233, 193, 93);
  transition: all 0.4s ease;
  background-color: transparent;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.button:hover {
  background-color: rgba(241, 197, 85, 0.46);
}

.button[disabled] {
   color: rgb(139, 138, 138);
   border-color: transparent;
   background-color: rgb(139, 138, 138, .65);;
}