.user-pics{
    display: grid;
    width: 50%;
    grid-template-columns: auto auto auto;
    gap: 10px;
}

.user-pics-grid-item{
    min-width: 100px;
    min-height: 100px;
    border-radius: 15px;
    overflow: hidden;
    background-color: #aaaaaa55;
}