.profile-container img {
   height: 150px;
   width: 150px;
}

.profile-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   position: fixed;
   bottom: 200px;
   top: 1%;
   left: 5%;
   right: 5%;
   width: 75vw;
   height: 70vh;
   padding: 2% 3% 2% 3%;
   margin-top: 5%;
   margin-left: 2%;
}

.picture {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.profile-mid {
   display: flex;
   flex-direction: column;
   width: 80%;
   margin-left: 9%;
   margin-right: 10%;
   margin-top: 10%;
   margin-bottom: 10%;
   border-top: .8vw ridge rgba(233, 193, 93);
   border-left: .8vw ridge rgba(233, 193, 93);
   border-bottom: .8vw groove rgba(233, 193, 93);
   border-right: .8vw groove rgba(233, 193, 93);
   background-color: aliceblue;
   box-shadow: 0em 0em .3em .08em rgb(78, 78, 78), inset 0em 0em .4em .08em rgb(78, 78, 78);
}



.name-tile {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
}

.name-tile > * {
   display: flex;
   justify-content: center;
   width: 40%;
   padding-top: 6%;
   font-size: 3vw;
   margin-top: 0;
   margin-bottom: -7%;
   letter-spacing: .1em;
   font-style: oblique;
   color:rgb(100, 25, 115);

}

.user-bio {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
}

.profile-buttons {
   width: 100%;
   font-size: 3vw;
   justify-content: center;
}

.profile-button-row {
   margin-top: 5vh;
   padding-left: 2.6vw;
   
}

body {
   background: transparent;
}

.profile-page-mid {
   position: absolute;
   display: flex;
   flex-direction: column;
   width: 56vw;
   min-height: 150vh;
   top: 0;
   bottom: 0;
   background-color:rgb(255, 255, 255);
   left: calc(100% / 4.9);
   border-left: 1.3vw ridge rgba(233, 193, 93);
   border-right: 1.3vw groove rgba(233, 193, 93);
   border-top: 1vw ridge rgba(233, 193, 93);
   border-bottom: 1vw groove rgba(233, 193, 93);
   box-shadow: inset 0em 0em .4em .15em rgb(78, 78, 78);
}

