.profile-container img {
   height: 150px;
   width: 150px;
}

.profile-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 1rem;
   min-height: 40vh;
   position: relative;
   /* bottom: 3.5vh; */
   height: 93vh;
   width: 100%;
   background: transparent;
   box-shadow: 0em 0em .4em .08em rgb(78, 78, 78);
   z-index: 1;
   animation: visible 1.2s;
}

.picture {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   letter-spacing: 3px;
   text-indent: .2rem;
   gap: .5rem;
   width: max-content;
}

.profile-pic-frame img {
   height: 95%;
   width: 95%;
   z-index: 5;
   background: transparent;
   overflow: auto;

}

.profile-mid-top-buffer {
   height: 6vh;
   margin-bottom: 5%;
}

.profile-mid-top {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.profile-mid {
   display: flex;
   flex-direction: column;
   width: 80%;
   margin-left: 9%;
   margin-right: 10%;
   margin-top: 10%;
   margin-bottom: 10%;
   border-top: .8vw ridge rgba(233, 193, 93);
   border-left: .8vw ridge rgba(233, 193, 93);
   border-bottom: .8vw groove rgba(233, 193, 93);
   border-right: .8vw groove rgba(233, 193, 93);
   background-color: aliceblue;
   box-shadow: 0em 0em .3em .08em rgb(78, 78, 78), inset 0em 0em .4em .08em rgb(78, 78, 78);
}

.profile-background {
   position: fixed;
   background: radial-gradient(circle, rgba(113,14,143,1) 0%, rgba(74,23,84,1) 35%, rgba(14,0,20,1) 100%);
   width: 100vw;
   height: 100vh;

}

.name-tile {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
}

.name-tile > * {
   display: flex;
   justify-content: center;
   width: 40%;
   padding-top: 6%;
   font-size: 3vw;
   margin-top: 0;
   margin-bottom: -7%;
   letter-spacing: .1em;
   font-style: oblique;
   color:rgb(100, 25, 115);

}

.user-bio {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
}

.profile-buttons {
   width: 100%;
   font-size: 3vw;
   justify-content: center;
}

.profile-button-row {
   margin-top: 5vh;
   padding-left: 2.6vw;
   
}

body {
   background: transparent;
}

.profile-page-mid {
   position: absolute;
   display: flex;
   flex-direction: column;
   width: 56vw;
   min-height: 150vh;
   top: 0;
   bottom: 0;
   background-color:rgb(255, 255, 255);
   /* right: calc(100% / 5); */
   left: calc(100% / 4.9);
   border-left: 1.3vw ridge rgba(233, 193, 93);
   border-right: 1.3vw groove rgba(233, 193, 93);
   border-top: 1vw ridge rgba(233, 193, 93);
   border-bottom: 1vw groove rgba(233, 193, 93);
   box-shadow: inset 0em 0em .4em .15em rgb(78, 78, 78);
   /* box-sizing: border-box; */
  
   
}
