/* TODO Add site wide styles */
* {
   box-sizing: border-box;
   margin: 0;
   background: transparent;
   padding: 0;
   color: #e9c15d;
}

button {
   cursor: pointer;
}

.clear-box {
   display: flex;
   justify-content: center;
   align-items: center;
   position: fixed;
   width: 100vw;
   height: 100vh;
   overflow: scroll;
   -ms-overflow-style: none;
   scrollbar-width: none;
}

.clear-box::-webkit-scrollbar {
   display: none;
 }

.home-link {
   left: 3.8%;
}

.bottom-login-link, .bottom-signup-link {
   right: 3.8%;
}

.home-link, .bottom-login-link, .bottom-signup-link {
   position: fixed;
   bottom: 2%;
   color: rgba(233, 193, 93);
   letter-spacing: .80rem;
   font-stretch: expanded;
   font-size: 1.5rem;
   animation: visible 1.2s;
}

.home-link:hover, .bottom-login-link:hover, .bottom-signup-link:hover {
   animation: glow 1s ease-in-out infinite alternate;
   cursor: pointer;
}

@keyframes visible {
   0% { opacity: 0; rotate: 180;}
   100% { opacity: 1; rotate: 360;}
}

@keyframes hidden {
   0% { opacity: 1; rotate: 0;}
   100% { opacity: 0; rotate: 180;}
}

@keyframes rotate-in {
   100% {transform: rotate(360);}
}

@keyframes delay {
   0% {opacity: 0}
   100% {opacity: 0}
}

@keyframes rotate-out {
   0% {
      transform: rotate(0);
   }
   100% {
      transform: rotate(180);
   }
}

@keyframes zoom {
   0%{
      transform: scale(.75);
      opacity: 0;
   }
   10%{
      opacity: .15;
   }
   40%{
      opacity: 1;
   }
   100%{
      transform: scale(1.5);
      opacity: 0;
   }
}

@keyframes glow {
   from {
     text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #8e00e6, 0 0 40px #8e00e6, 0 0 50px #8e00e6, 0 0 60px #8e00e6, 0 0 70px #8e00e6;
   }
   to {
     text-shadow: 0 0 20px #fff, 0 0 30px #b24dff, 0 0 40px #b24dff, 0 0 50px #b24dff, 0 0 60px #b24dff, 0 0 70px #b24dff, 0 0 80px #b24dff;
     }
}

@keyframes gold-glow {
   from {
     box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e66b00, 0 0 40px #e66b00, 0 0 50px #e66b00, 0 0 60px #e66b00, 0 0 70px #e66b00;
   }
   to {
     box-shadow: 0 0 20px #fff, 0 0 30px #ffe37c, 0 0 40px #ffe37c, 0 0 50px #ffe37c, 0 0 60px #ffe37c, 0 0 70px #ffe37c, 0 0 80px #ffe37c;
     }
}