.back-button {
  width: 200px;
  height: 35px;
  font-size: 1.25rem;
  box-sizing: border-box;
  border: 1px solid rgba(233, 193, 93);
  border-radius: .5rem;
  text-align: center;
  letter-spacing: 3px;
  color: rgba(233, 193, 93);
  transition: all 0.4s ease;
  background-color: transparent;
  font-family: cursive;
  padding-bottom: 2rem;
 }
 
 .back-button:hover {
   background-color: rgba(241, 197, 85, 0.46);
 }