#chat {
    padding: 5px;
    width: 70%;
}

#message-form-container {
    animation: changeIn 2s, fadeIn 2s;
    width: 70vw;
}


.display-messages {
    height: 40vh;
    overflow: auto;
    list-style: none;
    border: 1px solid #ffffff55;
    padding: 5px 10px;
    border-radius: 8px;
    color: #ffbb10cf;
    /* align-items: center; */
    /* display: flex; */
    flex-direction: column-reverse;
    margin-top: 40px;

    /* width: */
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @keyframes changeIn {
    0% { width: 0; }
    100% { width: 70vw; }
  }


.display-messages::-webkit-scrollbar {
    background-color: #410b5f;
    border-radius: 0 8px 8px 0;
    width: 12px;
    /* overflow:scroll; */
}


.display-messages::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #ffbb1090;
}

.display-messages:hover::-webkit-scrollbar-thumb {
    background-color: #ffbb10cf;
    overflow-y: scroll;
}

.chat-message {
    border-bottom: 1px solid #ffffff55;
    padding-bottom: 5px;
}

.chat-message-current-user {
    border: 1px solid purple;
}


.message-form {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100; */
}

.message-form input {
    width: 80%;
    margin-right: 2%;
    border-radius: 3px;
    border: none;
    padding: 6px;
    background-color: #410b5f;
    color: #ffbb10;
}

.message-form input::placeholder {
    color: #ffbb1090;
}

.message-form button {
    width: 10%;
    background-color: #410b5f;
    color: #ffbb1090;
    border: 0;
    padding: 6px;
    border-radius: 5px;
    cursor: pointer;
}

.message-form button:hover, .message-form:hover button {
    width: 10%;
    background-color: #410b5f;
    color: #ffbb10e0;
    border: 0;
    padding: 6px;
    border-radius: 5px;
}

#chat h2 {
    margin: 0;
}
